@import "tailwindcss";

/* Add this in your global CSS or tailwind.css */
.ql-editor ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.ql-editor ul {
  list-style-type: disc;
  padding-left: 1.5em;
}
